<%- include("header") -%>

<div class="main">

  <div class="signup-box">
    <h1>Sign Up</h1>
    <h4>It's free and only takes a minute</h4>
    <form action="/auth/register" method="post">
      <label>Name</label>
      <input type="text" name="name" value="" placeholder="Full Name" required />
      <label>Email</label>
      <input type="email" name="username" value="" placeholder="Email" required />
      <label>Password</label>
      <input type="password" name="password" value="" placeholder="password" required />

      <button type="submit" name="button">Submit</button>
    </form>

  </div>


  <div class="login-box">
    <h1>Login</h1>
    <form action="/auth/login" method="post">
      <label>Email</label>
      <input type="email" name="username" value="" placeholder="Email" required />
      <label>Password</label>
      <input type="password" name="password" value="" placeholder="password" required />
      <button type="submit" name="button">Login</button>
    </form>

  </div>

</div>
</body>

</html>
